@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
 body {
     margin: 0;
     padding: 0;
     overflow-x: hidden;
     background-color: #010f21;
     font-family: 'Roboto Mono', monospace;
}
/* header buttons */
 .btn-group button {
     background-color: #010f21;
     border: none;
     color: white;
     padding: 18px 24px;
     cursor: pointer;
     float: left;
     font-size: 20px;
     font-family: 'Roboto Mono', monospace;
}
 .btn-group:after {
     content: "";
     clear: both;
     display: table;
}
 .btn-group button:not(:last-child) {
     border-right: none;
}
 .btn-group button:hover {
     background-color: #041b36;
     transition: 0.3s;
}
.btn-active {
    background-color: #041b36 !important;
}
/* modular section */
 .modal {
     display: none;
     position: fixed;
     z-index: 1;
     padding-top: 200px;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     overflow: auto;
     background-color: rgb(0,0,0);
     background-color: rgba(0,0,0,0.4);
}
 .modal-content {
     position: relative;
     background-color: #fefefe;
     margin: auto;
     padding: 0;
     width: 80%;
     box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
     -webkit-animation-name: animatetop;
     -webkit-animation-duration: 0.4s;
     animation-name: animatetop;
     animation-duration: 0.4s 
}
 @-webkit-keyframes animatetop {
     from {
        top:-300px;
         opacity:0
    }
     to {
        top:0;
         opacity:1
    }
}
 @keyframes animatetop {
     from {
        top:-300px;
         opacity:0
    }
     to {
        top:0;
         opacity:1
    }
}
 .close {
     color: white;
     float: right;
     font-size: 28px;
     font-weight: bold;
}
 .close:hover, .close:focus {
     color: #000;
     text-decoration: none;
     cursor: pointer;
}
 .modal-header {
     padding: 2px 16px;
     background-color: #010f21;
     color: white;
     border: none;
}
 .modal-body {
     padding: 2px 16px;
     border: none;
}
/* legend section */
#legend {
    position: relative;
    height: 0px;
    width: 100%;
}

.legend-content {
    position: absolute;
    top: 100px;
    margin-left: 6em;
    background-color: rgba(255, 255, 255, 0.3);
    width: 10%;
    min-width: 150px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
    color: white;
}

.legend-header {
    padding: 2px 16px;
    background-color: rgba(1, 15, 33, 0.9);
}

.legend-header h2 {
    font-size: 1.1em;
}
 
.legend-body {
    padding: 2px 16px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.legend-body p {
    font-size: 0.9em;
}

.legend-body > div {
    display: flex;
    justify-content: start;
    align-items: center;
}

.colour-box {
    width: 15px;
    height: 15px;
}

#box-1 {
    background-color:#F6412D;
}
#box-2 {
    background-color:#FF5607;
}
#box-3 {
    background-color:#FF9800;
}
#box-4 {
    background-color:#FFC100;
}
#box-5 {
    background-color:#FFEC19;
}

.legend-body > div > p {
    margin-left: 10px;
}

#globeViz {
    z-index: -1;
}